<%= render "layouts/header", title: @subreddit.name,subreddit_id:0,disabled:true%>

<br>
<div class="row">

  <div class="col-md-1">
    178
  </div>

  <div class="col-md-9">
      <%= @post.title %>
      <br>
      <%= "submitted #{time_ago_in_words(@post.created_at)} ago by #{@post.creator_name} in #{@subreddit.name}" %>
      <br>
      <%= @post.content %>
      <%= button_to "Edit post", post_edit_path(subreddit_id:@subreddit.id,id:@post.id), :class => "btn btn-default", :method => :get %>
      <%= button_to "Delete post", post_destroy_path(id:@post.id), :class => "btn btn-danger", :method => :delete  %>
  </div>

  <div class="col-md-2">
    <h3>Description:</h3>
    <%= @subreddit.description %>
  </div>

</div>

<div class="row">
  <%= "#{@post.comments.count} comments - leave your mark"%>
  <%= render 'comment_form' %>
</div>

<% if @post.comments.any? %>
    <% @post.comments.each do |comment| %>
    <div class="row">
        <div class="col-md-3">
    <%= "#{time_ago_in_words(@post.created_at)} ago by #{@post.creator_name}" %>
      </div>
    <br>
      <div class="col-md-9 pull-right">
    <%= comment.content %>
    </div>
    </div>
    <% end %>
<% else %>
    <%= "No comments yet" %>
<% end %>
