
  <%= render "layouts/header", title:"all subreddits",subreddit_id:0,disabled:true%>
  <div class="well">
    <% @all_subreddits.each do |subreddit| %>

        <div class="row">

          <div class="col-lg-1">
          <%= subreddit.posts.sum(:upvotes_count) %>
          </div>
          <div class="col-lg-11">
            <%= link_to subreddit.name ,subreddit_path(id: subreddit.id) %>

            <br>
            <%== "submitted <strong>#{time_ago_in_words(subreddit.created_at)}</strong> ago by <span class='red'>#{subreddit.user.nickname}</span> in " %>
            <span class="red">  <%= link_to subreddit.name,subreddit_path(id:subreddit.id) %></span>
            <br>
            <br>

          </div>
        </div>
      <hr>
    <% end %>
  </div>
  <%= will_paginate @all_subreddits %>
