<%= render "layouts/header", title: "frontpage",disabled:true%>

<div class="row well border">

  <div class="col-md-6">
    <%= simple_form_for @subreddit do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.button :submit, :class=>" btn bred" %>
    <% end %>
  </div>

</div>
