<%= render "layouts/header", title: @subreddit.name,subreddit_id:@subreddit.id,disabled:false%>

  <div class="col-md-4 pull-right bordert">
    <div class="title">Description:</class="title"></div>
    <%= @subreddit.description %>
  </div>

<div class="well borderr col-md-8">

  <% @posts.each do |post| %>
     <div class="post">
      <div class="row">

        <div id="post<%=post.id%>" class="col-md-2">
           <div class="vote">  <%= post.upvotes.count %></div>

          <div class="voteButton">
            <%= link_to "Upvote",new_subreddit_post_upvote_path(subreddit_id:@subreddit.id,post_id: post.id),remote:true,:class=>"btn btn-default bred" %>
          </div>
        </div>
        <div class="col-md-10">
          <div class="title">
             <%= link_to post.title ,subreddit_post_path(subreddit_id: post.subreddit.id, id: post.id) %>
          </div>
              <%== "submitted <strong>#{time_ago_in_words(post.created_at)}</strong> ago by <span class='red'>#{post.user.nickname}</span>" %>
          <br>
          <%=  post.comments.count==1?"#{post.comments.count} comment" : "#{post.comments.count} comments" %>
        </div>
      </div>
      <hr>
    </div>
  <% end %>
</div>
<%= will_paginate @posts %>
