<%= render "layouts/header", title: @subreddit.name,subreddit_id:@subreddit.id,disabled:false%>
<div class="row">
  <div class="col-lg-2 pull-right">
    <h3>Description:</h3>
    <%= @subreddit.description %>
  </div>
</div>
<div class="well col-lg-10">

  <% @subreddit.posts.sorted_desc.each do |post| %>

    <div class="row">

      <div id="post<%=post.id%>" class="col-lg-1">
        <% if post.upvotes.empty? %>
            <%= 0 %>
          <%else%>
            <%= post.upvotes[0][:counter]%>
          <% end %>

      </div>
      <div class="col-lg-1">
        <%= link_to "Upvote",upvote_path(id: post.id),remote:true,:class=>"btn btn-success" %>
      </div>
      <div class="col-lg-10">
        <%= link_to post.title ,subreddit_post_path(subreddit_id: post.subreddit.id, id: post.id) %>

        <br>
        <%= "submitted #{time_ago_in_words(post.created_at)} ago by #{post.creator_name}" %>
        <br>
        <%= " #{post.comments.count} comments" %>
      </div>
    </div>
    <hr>
  <% end %>
</div>
