<div class="row">
  <div class="col-lg-12">
    <% @subreddits.each do |sub| %>
      <%= link_to sub.name.upcase, subreddit_path(id:sub.id) %>
    <% end %>
    <%= link_to "...", subreddits_path %>

  </div>
  <div class="row">
    <div class="col-lg-4">
    <h3>Tidder</h3>
    <h5>INFINUM STUDENT ACADEMY</h5>
    <h5>R E D D I T   C L O N E   P R O J E C T</h5>
    </div>
    <div class="col-lg-5">
      <h1>
        <%= title %>
      </h1>
      <%= link_to "newest", url_for( :newest => 'true' ), :class => "btn btn-danger", :method => :get  %>
      <%= link_to "trending", url_for( :trending => 'true' ), :class => "btn btn-default", :method => :get  %>
    </div>

  <div class="col-lg-3">
    <%= link_to "new post", new_subreddit_post_path(subreddit_id:subreddit_id), :class => "btn btn-danger",:disabled=>disabled, :method => :get  %>
    <%= link_to "settings", settings_edit_path, :class => "btn btn-default",:method => :get  %>
    <%= link_to "new subreddit", new_subreddit_path, :class => "btn btn-default",:method => :get  %>
    <%= link_to "logout", destroy_user_session_path, :class => "btn btn-danger",:method => :delete  %>

  </div>
  </div>
  <div class="row">
    <div class= "pull-right">
      <%if !disabled%>
        <% if is_subscribed?(subreddit_id)%>
          <%= link_to "unsubscribe", subreddit_subscription_path(subreddit_id:subreddit_id,id:0),remote:true, :class => "btn btn-success",:id=>"subscribe",:method => :delete unless (current_page?(frontpage_path)||current_page?(subreddits_path)) %>
        <% else %>
          <%= link_to "subscribe", new_subreddit_subscription_path(subreddit_id:subreddit_id),remote:true, :class => "btn btn-success",:id=>"subscribe",:method => :get unless (current_page?(frontpage_path)||current_page?(subreddits_path))%>
        <% end%>
      <%end%>
  </div>
  </div>

</div>
