<ul>
<li><%= link_to "Home", welcome_path %></li>
<li><%= link_to "Time", time_path %></li>
<li><%= link_to "Gallery", gallery_path %></li>
<li><%= link_to "Text", text_path %></li>
<li><%= link_to "Goodbye", goodbye_path %></li>
<ul>
